<!DOCTYPE html>
<html>
<head>
<style>
.item1 { grid-area: header; }
.item3 { grid-area: main; }
.item5 { grid-area: footer; }



</style>
</head>
<body>


  <div class="item1">

    <p>
      <mat-toolbar >
        <mat-toolbar-row>

          
          <img height="130px" src="./assets/logo1.png" >
          <img height="60px" src="./assets/IE.png" >


          <mat-icon  >accessible</mat-icon>
          <mat-icon>language</mat-icon>
          <mat-icon>account_box</mat-icon>
     
        </mat-toolbar-row>
    

      </mat-toolbar>
    </p>



</div>




<section class="page-header">
<div class=container>
  <div class="page">


   
</div>

<div class="row">
<div class="col-md-12">
<ol class="breadcrumb">
<li>

<a [routerLink]="['/courses']">Plan Estudio</a>

</li>
<li class="active">"Plan de Estudio"</li>

</ol>
</div>
</div><!--row-->
<a id="main-content"></a>
<div class="row">
<div class="col-md-12">
<h1>Electivas de las la Carrera de Informática Empresarial</h1>
</div>
</div>








</div><!--container-->



















</section>








<div classs="courses-print">
<div class="container">
<div class="contenedor-anno">
<div class="anno">
<div class="texto-vertical"></div>
<div class="texto-horizontal"></div>
<div class= "semestre">
<div class="curso computacion" style="cursor: pointer;">
<div class="sigla">EJ-1</div>
<div class="nombre">
<a>Ejemplo</a>
</div>
<div class="creditos">2</div>
<div class="requisitos">
  <br>"IF6200"
  </div>


</div>


   
</div><!--año-->
<button  [routerLink]="['/general']" class= "wrappere"  >Agregar electivas</button></div>
</div><!--contenedor-->
</div> 

<hr class="short">

  <!--<div class="item3">
    <button [routerLink]="['/general']" mat-menu-item >Bloque de electivas</button>
    </div> --> 


 <div class="item5"> <img  src="./assets/footerLogo.png">
    <mat-icon>facebook</mat-icon>
      <p>Todos los derechos reservados <br>Universidad de Costa Rica <br>Informática Empresarial</p>

    </div>



