<!DOCTYPE html>
<html>

<head>
  <style>
    .item1 {
      grid-area: header;
    }

    .item3 {
      grid-area: main;
    }

    .item5 {
      grid-area: footer;
    }
  </style>
</head>

<body>

  <div class="grid-container">
    <div class="item1">

      <p>
        <mat-toolbar>
          <mat-toolbar-row>


            <img height="130px" src="./assets/logo1.png">
            <img height="60px" src="./assets/IE.png">


            <mat-icon>accessible</mat-icon>
            <mat-icon>language</mat-icon>
            <mat-icon>account_box</mat-icon>

          </mat-toolbar-row>


        </mat-toolbar>
      </p>


      <button mat-button [routerLink]="['/general']">General</button>

      <button mat-button [routerLink]="['/requirement']">Requisitos</button>

      <button mat-button>Contenidos</button>



    </div>

    <div class="item3">
      <div id="responsive-form" class="clearfix">

        <div class="form-row">
          <div class="column-half">

            <div class="input-group">
              <div class="input-group-prepend">
                <div class="input-group-text">
                  <i class="tim-icons icon-lock-circle"> </i>
                </div>
              </div>

              <mat-form-field class="example-full-width">
                <mat-label>Enter Note:</mat-label>
                <textarea matInput placeholder="Ex. this is example..."></textarea>
              </mat-form-field>

            </div>

          </div>

          <div class="column-half">

            <div class="input-group">
              <div class="input-group-prepend">
                <div class="input-group-text">
                  <i class="tim-icons icon-lock-circle"> </i>
                </div>
              </div>
              <mat-form-field class="example-full-width">
                <mat-label>Enter Note:</mat-label>
                <textarea matInput placeholder="Resultados de aprendizaje"></textarea>
              </mat-form-field>
            </div>

          </div>
        </div>

        <div class="form-row">
          <div class="column-half">
            <div class="input-group">
              <div class="input-group-prepend">
                <div class="input-group-text">
                  <i class="tim-icons icon-lock-circle"> </i>
                </div>
              </div>
              <mat-form-field class="example-full-width">
                <mat-label>Enter Note:</mat-label>
                <textarea matInput placeholder="Contenido, subtemas"></textarea>
              </mat-form-field>
            </div>
          </div>

          <div class="column-half">
            <div class="input-group">
              <div class="input-group-prepend">
                <div class="input-group-text">
                  <i class="tim-icons icon-lock-circle"> </i>
                </div>
              </div>
              <mat-form-field class="example-full-width">
                <mat-label>Enter Note:</mat-label>
                <textarea matInput placeholder="Bibliografia"></textarea>
              </mat-form-field>
            </div>
          </div>
        </div>


        <div class="form-row">
          <div class="column-half">
            <div class="input-group">
              <div class="input-group-prepend">
                <div class="input-group-text">
                  <i class="tim-icons icon-lock-circle"> </i>
                </div>
              </div>
              <mat-form-field class="example-full-width">
                <mat-label>Enter Note:</mat-label>
                <textarea matInput placeholder="Curso propio"></textarea>
              </mat-form-field>
            </div>
          </div>

        </div>

        <div class="column-half">

          <div class="input-group">
            <div class="input-group-prepend">
              <div class="input-group-text">
                <i class="tim-icons icon-lock-circle"> </i>
              </div>
            </div>
            <input class="form-control" placeholder="Enfasis" type="text" />
          </div>

        </div>




        <div class="form-row">
          <div class="column-half"><button class="button button1" mat-menu-item>Agregar</button>
          </div>
          <div class="column-half"><button class="button button2" mat-menu-item>Cancelar</button>
          </div>


          </div>

        </div>
      </div>

    </div>

</body>
<footer>
  <div class="item5"> <img src="./assets/footerLogo.png">
    <mat-icon>facebook</mat-icon>
    <p>Todos los derechos reservados <br>Universidad de Costa Rica <br>Informática Empresarial</p>

  </div>
</footer>

</html>