.mat-toolbar {
    background: #41ade7;
    height: 108px;
    padding: 15px;

  }

  .mat-icon{
    position: relative;
    top: 0px; left: 1100px;
  }

.item5 {
    background: #666666;
    height: 70px;
    padding: 30px;
    
  }

  .item3 img{
    width:100%;
    height:100%;
  }

.item5 img{
    height: 70px;
  }

 

  .item5 p{
    text-align: center;
    position: relative;
    top: -75px; left: 0px;
  }

  .item1 {
    text-align: left;
  }

.imageAcredi{
    position: relative;
    top: 0px; left: 1300px;
}
  


  .grid-container {
    display: grid;
    grid-template-areas:
      'header header header header header header'
      'main main main main main main'
      'footer footer footer footer footer footer';
  }

  body{
    background-color: #e6e6e6;
  }



  #responsive-form{
	max-width:600px /*-- cambiar esto para conseguir el ancho de la forma deseada --*/;
	margin:0 auto;
  width:100%;
}
.form-row{
width: 100%;
}
.column-half, .column-full{
float: left;
position: relative;
padding: 0.65rem;
width:100%;
-webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box
}
.clearfix:after {
content: "";
display: table;
clear: both;
}

/**---------------- Media query ----------------**/
@media only screen and (min-width: 48em) { 
.column-half{
width: 50%;
}
}

 .input-group input {
  border-radius: 8px;
  outline-width: 0;
  width: 170px;
  height: 30px;
}

.column-half button{
  text-align: center;
  border-radius: 8px;
  color: white;

  width: 130px;
  height: 40px;
}

.column-half .button1{
  background-color: #41ade7;
}

.column-half .button2{
  background-color: #000000;
}