<!DOCTYPE html>
<html>
<head>
<style>
.item1 { grid-area: header; }
.item3 { grid-area: main; }
.item5 { grid-area: footer; }



</style>
</head>
<body>

<div class="grid-container">
  <div class="item1">

    <p>
      <mat-toolbar >
        <mat-toolbar-row>

          
          <img height="130px" src="./assets/logo1.png" >
          <img height="60px" src="./assets/IE.png" >


            <mat-icon>accessible</mat-icon>
            <mat-icon>language</mat-icon>
            <mat-icon>account_box</mat-icon>
     
        </mat-toolbar-row>
    

      </mat-toolbar>
    </p>

  
<!--button mat-button>General</button-->
<mat-tab-group mat-align-tabs="start">
  <mat-tab label="General">
    <div class="item3">
      <div id="responsive-form" class="clearfix">
  
        <div class="form-row">
        <div class="column-half">
  
          <div class="input-group">
            <div class="input-group-prepend">
              <div class="input-group-text">
                <i class="tim-icons icon-lock-circle"> </i>
              </div>
            </div>

            <mat-form-field class="input-size" appearance="outline">
              <mat-label>Sigla</mat-label>
              <input [(ngModel)]="courseData.sigla" required matInput>
            </mat-form-field>
            <mat-form-field appearance="outline" class="input-size">
              <mat-label>Nombre</mat-label>
              <input [(ngModel)]="courseData.nombre" required matInput>
            </mat-form-field>
            <mat-form-field appearance="outline" class="input-size">
              <mat-label>Área disciplinaria</mat-label>
              <mat-select [(ngModel)]="courseData.areaDisciplinaria" name="aD">
                <mat-option *ngFor= "let aD of area" [value]="aD">{{aD.nombreDisciplinaria}}</mat-option>
              </mat-select>
            </mat-form-field>
            
            <mat-form-field appearance="outline" class="input-size">
              <mat-label>Ciclo</mat-label>
              <mat-select [(ngModel)]="courseData.ciclo" >
                <mat-option value="I Ciclo">I Ciclo</mat-option>
                <mat-option value="II Ciclo">II Ciclo</mat-option>
              </mat-select>
            </mat-form-field>
            <mat-form-field class="input-size" appearance="outline">
              <mat-label>Créditos</mat-label>
              <input type="number" min="0" [(ngModel)]="courseData.creditos" required matInput>
            </mat-form-field>
          </div>

  
        </div>
        <div class="column-half">
          
          <div class="input-group">
            <div class="input-group-prepend">
              <div class="input-group-text">
                <i class="tim-icons icon-lock-circle"> </i>
              </div>
            </div>
            <mat-form-field appearance="outline" class="input-size">
              <mat-label>Unidad(es) académica(s)</mat-label>
              <mat-select  multiple matNativeControl [(ngModel)]="courseData.unidadesAcademicasPropietarias" name="unidad">
                <mat-option *ngFor="let unidad of uniAcade" [value]="unidad">{{ unidad.nombreUnidadAcademica }}</mat-option>
              </mat-select>
          </mat-form-field>
          <mat-form-field class="input-size" appearance="outline">
            <mat-label>Horas teoría</mat-label>
            <input type="number" min="0" [(ngModel)]="courseData.horasTeoria" required matInput>
          </mat-form-field>
          <mat-form-field class="input-size" appearance="outline">
            <mat-label>Horas práctica</mat-label>
            <input type="number" min="0" [(ngModel)]="courseData.horasPractica" required matInput>
          </mat-form-field>
          <mat-form-field class="input-size" appearance="outline">
            <mat-label>Horas teórico-practicas</mat-label>
            <input type="number" min="0" [(ngModel)]="courseData.horasTeoricoPractica"  matInput>
          </mat-form-field>
          <mat-form-field class="input-size" appearance="outline">
            <mat-label>Horas laboratorio</mat-label>
            <input type="number" min="0" [(ngModel)]="courseData.horasLaboratorio" matInput>
          </mat-form-field>
          </div>
  
        </div>
        </div>       
    </div>   
  </div>  
  </mat-tab>
  <mat-tab label="Requisitos">
    <div class="item3">
      <div id="responsive-form" class="clearfix">
  
        <div class="form-row">
        <div class="column-half">
  
          <div class="input-group">
            <div class="input-group-prepend">
              <div class="input-group-text">
                <i class="tim-icons icon-lock-circle"> </i>
              </div>
            </div>
            <mat-form-field appearance="outline" class="input-size">
              <mat-label>Requisitos</mat-label>
              <mat-select multiple matNativeControl  [(ngModel)]="courseData.curso[1]" name="requirement">
                <mat-option *ngFor="let requirement of req" [value]="requirement" >{{ requirement.nombre }}</mat-option>
              </mat-select>
          </mat-form-field>



          <mat-form-field appearance="outline" class="input-size">
            <mat-label>Modalidad</mat-label>
            <mat-select [(ngModel)]="courseData.modalidad"  name="modali">
              <mat-option *ngFor= "let modali of mod" [value]="modali">{{modali.tipoModalidad}}</mat-option>
            </mat-select>
          </mat-form-field>
          </div>
  
        </div>
  
        <div class="column-half">
          
          <div class="input-group">
            <div class="input-group-prepend">
              <div class="input-group-text">
                <i class="tim-icons icon-lock-circle"> </i>
              </div>
            </div>

            <mat-form-field appearance="outline" class="input-size">
              <mat-label>Co-Requisitos</mat-label>
              <mat-select multiple matNativeControl  [(ngModel)]="courseData.curso[2]" name="coreq">
                  <mat-option *ngFor="let coreq of cr" [value]="coreq">{{ coreq.nombre }}</mat-option>
              </mat-select>
          </mat-form-field>
          </div>


          <mat-form-field appearance="outline" class="input-size">
            <mat-label>Plan de estudio</mat-label>
            <mat-select [(ngModel)]="courseData.planEstudio" name="planEst" >
              <mat-option *ngFor= "let planEst of plE" [value]="planEst">{{planEst.nombreCarrera}}</mat-option>
            </mat-select>
          </mat-form-field>
  
        </div>
        </div>       
    </div>   
  </div>  
  </mat-tab>
  <mat-tab label="Contenidos">
    <div class="item3">
      <div id="responsive-form" class="clearfix">

        <div class="form-row">
          <div class="column-half">

            <div class="input-group">
              <div class="input-group-prepend">
                <div class="input-group-text">
                  <i class="tim-icons icon-lock-circle"> </i>
                </div>
              </div>

              <mat-form-field class="example-full-width">
                <mat-label>Objetivo general:</mat-label>
                <textarea [(ngModel)]="courseData.objetivoGeneral" required matInput ></textarea>
              </mat-form-field>

            </div>

          </div>

          <div class="column-half">

            <div class="input-group">
              <div class="input-group-prepend">
                <div class="input-group-text">
                  <i class="tim-icons icon-lock-circle"> </i>
                </div>
              </div>

             <mat-form-field class="input-size" appearance="outline">
              <mat-label>Resultados</mat-label>
              <input [(ngModel)]="courseData.resultadosDeAprendizaje[0].descripcion" matInput>
            </mat-form-field>

            </div>
          </div>
        </div>

        <div class="form-row">
          <div class="column-half">
            <div class="input-group">
              <div class="input-group-prepend">
                <div class="input-group-text">
                  <i class="tim-icons icon-lock-circle"> </i>
                </div>
              </div>

              <mat-form-field appearance="outline" >
                <mat-label>Contenido</mat-label>
                <mat-select multiple matNativeControl [(ngModel)]="courseData.contenido" name= "conte">
                  <mat-option *ngFor="let conte of cont" [value]="conte">{{ conte.tema }}</mat-option>
                </mat-select>
             </mat-form-field>
            </div>
          </div>

          <div class="column-half">
            <div class="input-group">
              <div class="input-group-prepend">
                <div class="input-group-text">
                  <i class="tim-icons icon-lock-circle"> </i>
                </div>
              </div>

             <mat-form-field class="input-size" appearance="outline">
              <mat-label>Referencias bibliográficas</mat-label>
              <input [(ngModel)]="courseData.referenciasBibliograficas[0].referencia" matInput>
            </mat-form-field>
            
            </div>
          </div>
        </div>


        <div class="form-row">
          <div class="column-half">
            <div class="input-group">
              <div class="input-group-prepend">
                <div class="input-group-text">
                  <i class="tim-icons icon-lock-circle"> </i>
                </div>
              </div>

              <mat-form-field appearance="outline">
                <mat-label>Descripción</mat-label>
                <mat-select multiple matNativeControl [(ngModel)]="courseData.itemDescripcion" name= "descr">
                  <mat-option *ngFor="let descr of descrip" [value]="descr">{{ descr.detalleDescripcion }}</mat-option>
                </mat-select>
             </mat-form-field>
            </div>
          </div>

        </div>

        <div class="column-half">

          <div class="input-group">
            <div class="input-group-prepend">
              <div class="input-group-text">
                <i class="tim-icons icon-lock-circle"> </i>
              </div>
            </div>

            <mat-form-field appearance="outline">
              <mat-label>Énfasis</mat-label>
              <mat-select multiple matNativeControl [(ngModel)]="courseData.planEstudio.enfasis" name= "enfasis">
                <mat-option *ngFor="let enfasis of enf" [value]="enfasis">{{ enfasis.descripcion }}</mat-option>
              </mat-select>
           </mat-form-field>
          </div>

        </div>




        <div class="form-row">
          <div class="column-half"><button (click)='addCourse()' type="submit" class="button button1" mat-menu-item>Agregar</button>
          </div>
          <div class="column-half"><button (click)='cancel()'class="button button2" mat-menu-item>Cancelar</button>
          </div>


          </div>

        </div>
      </div>
  </mat-tab>
</mat-tab-group>



  </div>



</div>

</body>
<footer>
  <div class="item5"> <img  src="./assets/footerLogo.png">
    <mat-icon>facebook</mat-icon>
      <p>Todos los derechos reservados <br>Universidad de Costa Rica <br>Informática Empresarial</p>

    </div>
</footer>
</html>
