<!DOCTYPE html>
<html>
<head>
<style>
.item1 { grid-area: header; }
.item3 { grid-area: main; }
.item5 { grid-area: footer; }



</style>
</head>
<body>

<div class="grid-container">
  <div class="item1">

    <p>
      <mat-toolbar >
        <mat-toolbar-row>

          
          <img height="130px" src="./assets/logo1.png" >
          <img height="60px" src="./assets/IE.png" >


            <mat-icon>accessible</mat-icon>
            <mat-icon>language</mat-icon>
            <mat-icon>account_box</mat-icon>
     
        </mat-toolbar-row>
    

      </mat-toolbar>
    </p>

  
<!--button mat-button>General</button-->
<mat-tab-group mat-align-tabs="start">
  <mat-tab label="General">
    <div class="item3">
      <div id="responsive-form" class="clearfix">
  
        <div class="form-row">
        <div class="column-half">
  
          <div class="input-group">
            <div class="input-group-prepend">
              <div class="input-group-text">
                <i class="tim-icons icon-lock-circle"> </i>
              </div>
            </div>
            <mat-form-field class="input-size" appearance="outline">
              <mat-label>Sigla</mat-label>
              <input [(ngModel)]="courseData.sigla" matInput>
            </mat-form-field>
            <mat-form-field appearance="outline" class="input-size">
              <mat-label>Nombre</mat-label>
              <input [(ngModel)]="courseData.nombre" matInput>
            </mat-form-field>
            <mat-form-field appearance="outline" class="input-size">
              <mat-label>Área disciplinaria</mat-label>
              <mat-select [(ngModel)]="courseData.areaDisciplinaria.idAreaDisciplinaria" (ngModelChange)="areaChange($event)">
                <!--option *ngFor= "let a of showCommen" [value]="a.tipoModalidad">{{a.tipoModalidad}}</option-->
                <mat-option value="1">Disciplina 3</mat-option>
              </mat-select>
            </mat-form-field>
            <mat-form-field appearance="outline" class="input-size">
              <mat-label>Ciclo</mat-label>
              <mat-select [(ngModel)]="courseData.ciclo" >
                <mat-option value="I Ciclo">I Ciclo</mat-option>
                <mat-option value="II Ciclo">II Ciclo</mat-option>
              </mat-select>
            </mat-form-field>
            <mat-form-field class="input-size" appearance="outline">
              <mat-label>Créditos</mat-label>
              <input type="number" [(ngModel)]="courseData.creditos" matInput>
            </mat-form-field>
          </div>
  
        </div>
        <div class="column-half">
          
          <div class="input-group">
            <div class="input-group-prepend">
              <div class="input-group-text">
                <i class="tim-icons icon-lock-circle"> </i>
              </div>
            </div>
            <mat-form-field appearance="outline" class="input-size">
              <mat-label>Unidad(es) académica(s)</mat-label>
              <mat-select  multiple matNativeControl [(ngModel)]="courseData.unidadesAcademicasPropietarias" name="unidad">
                <mat-option *ngFor="let unidad of results" value="unidad.idResultadoAprendizaje">{{ unidad.descripcion }}</mat-option>
              </mat-select>
          </mat-form-field>
          <mat-form-field class="input-size" appearance="outline">
            <mat-label>Horas teoría</mat-label>
            <input type="number" [(ngModel)]="courseData.horasTeoria" matInput>
          </mat-form-field>
          <mat-form-field class="input-size" appearance="outline">
            <mat-label>Horas práctica</mat-label>
            <input type="number" [(ngModel)]="courseData.horasPractica" matInput>
          </mat-form-field>
          <mat-form-field class="input-size" appearance="outline">
            <mat-label>Horas teórico-practicas</mat-label>
            <input type="number" [(ngModel)]="courseData.horasTeoricoPractica"  matInput>
          </mat-form-field>
          <mat-form-field class="input-size" appearance="outline">
            <mat-label>Horas laboratorio</mat-label>
            <input type="number" [(ngModel)]="courseData.horasLaboratorio" matInput>
          </mat-form-field>
          </div>
  
        </div>
        </div>       
    </div>   
  </div>  
  </mat-tab>
  <mat-tab label="Requisitos">
    <div class="item3">
      <div id="responsive-form" class="clearfix">
  
        <div class="form-row">
        <div class="column-half">
  
          <div class="input-group">
            <div class="input-group-prepend">
              <div class="input-group-text">
                <i class="tim-icons icon-lock-circle"> </i>
              </div>
            </div>
            <mat-form-field appearance="outline" class="input-size">
              <mat-label>Requisitos</mat-label>
              <mat-select multiple matNativeControl  [(ngModel)]="courseData.curso[1]" name="requirement">
                <mat-option *ngFor="let requirement of req" [value]="requirement.idCurso" >{{ requirement.nombre }}</mat-option>
              </mat-select>
          </mat-form-field>


          <!--mat-form-field appearance="outline">
            <mat-label>Descripción</mat-label>
            <mat-select multiple matNativeControl [(ngModel)]="selectedCar" name= "r">
              <mat-option *ngFor="let r of results" [value]="r.idResultadoAprendizaje">{{ r.descripcion }}</mat-option>
            </mat-select>
         </mat-form-field-->
          <mat-form-field appearance="outline" class="input-size">
            <mat-label>Modalidad</mat-label>
            <mat-select [(ngModel)]="courseData.modalidad.idModalidad"  name="modali">
              <mat-option *ngFor= "let modali of mod" [value]="modali.tipoModalidad">{{modali.tipoModalidad}}</mat-option>
            </mat-select>
          </mat-form-field>
          </div>
  
        </div>
  
        <div class="column-half">
          
          <div class="input-group">
            <div class="input-group-prepend">
              <div class="input-group-text">
                <i class="tim-icons icon-lock-circle"> </i>
              </div>
            </div>

            <mat-form-field appearance="outline" class="input-size">
              <mat-label>Co-Requisitos</mat-label>
              <mat-select multiple matNativeControl  [(ngModel)]="courseData.curso[2]" name="coreq">
                  <mat-option *ngFor="let coreq of cr" [value]="coreq.idCurso">{{ coreq.nombre }}</mat-option>
              </mat-select>
          </mat-form-field>
          </div>


          <mat-form-field appearance="outline" class="input-size">
            <mat-label>Plan de estudio</mat-label>
            <mat-select [(ngModel)]="courseData.modalidad.idModalidad" (ngModelChange)="modalidadChange($event)" >
              <!--option *ngFor= "let a of showCommen" [value]="a.tipoModalidad">{{a.tipoModalidad}}</option-->
              <mat-option value="1">Virtual</mat-option>
            </mat-select>
          </mat-form-field>
  
        </div>
        </div>       
    </div>   
  </div>  
  </mat-tab>
  <mat-tab label="Contenidos">
    <div class="item3">
      <div id="responsive-form" class="clearfix">

        <div class="form-row">
          <div class="column-half">

            <div class="input-group">
              <div class="input-group-prepend">
                <div class="input-group-text">
                  <i class="tim-icons icon-lock-circle"> </i>
                </div>
              </div>

              <mat-form-field class="example-full-width">
                <mat-label>Objetivo general:</mat-label>
                <textarea [(ngModel)]="courseData.objetivoGeneral" matInput placeholder="Ex. this is example..."></textarea>
              </mat-form-field>

            </div>

          </div>

          <div class="column-half">

            <div class="input-group">
              <div class="input-group-prepend">
                <div class="input-group-text">
                  <i class="tim-icons icon-lock-circle"> </i>
                </div>
              </div>
              <!--mat-form-field class="example-full-width">
                <mat-label>Resultados de aprendizaje:</mat-label>
                <textarea [(ngModel)]="courseData.resultadosDeAprendizaje"  matInput placeholder="Resultados de aprendizaje"></textarea>
              </mat-form-field-->
              <mat-form-field appearance="outline" >
                <mat-label>Resultados</mat-label>
                <mat-select multiple matNativeControl [(ngModel)]="selectedCar" name= "r">
                  <mat-option *ngFor="let r of results" [value]="r.idResultadoAprendizaje">{{ r.descripcion }}</mat-option>
                </mat-select>
             </mat-form-field>
            <!--mat-form-field appearance="fill">
              <mat-label>Favorite car</mat-label>
              <select matNativeControl [(ngModel)]="selectedCar" name="car">
                <option value="" selected></option>
                <option *ngFor="let car of cars" [value]="car.value">
                  {{car.viewValue}}
                </option>
              </select>
            </mat-form-field-->
            </div>
          </div>
        </div>

        <div class="form-row">
          <div class="column-half">
            <div class="input-group">
              <div class="input-group-prepend">
                <div class="input-group-text">
                  <i class="tim-icons icon-lock-circle"> </i>
                </div>
              </div>
              <!--mat-form-field class="example-full-width">
                <mat-label>Contenido:</mat-label>
                <textarea  [(ngModel)]="courseData.contenidos" matInput placeholder="Contenido, subtemas"></textarea>
              </mat-form-field-->
              <mat-form-field appearance="outline" >
                <mat-label>Contenido</mat-label>
                <mat-select multiple matNativeControl [(ngModel)]="selectedCar" name= "cont">
                  <mat-option *ngFor="let cont of results" [value]="cont.idResultadoAprendizaje">{{ cont.descripcion }}</mat-option>
                </mat-select>
             </mat-form-field>
            </div>
          </div>

          <div class="column-half">
            <div class="input-group">
              <div class="input-group-prepend">
                <div class="input-group-text">
                  <i class="tim-icons icon-lock-circle"> </i>
                </div>
              </div>
              <!--mat-form-field class="example-full-width">
                <mat-label>Referencias Bibliograficas:</mat-label>
                <textarea [(ngModel)]="courseData.referenciasBibliograficas" matInput placeholder="Bibliografia"></textarea>
              </mat-form-field-->
              <mat-form-field appearance="outline" >
                <mat-label>Referencias bibliográficas</mat-label>
                <mat-select multiple matNativeControl [(ngModel)]="selectedCar" name= "referencias">
                  <mat-option *ngFor="let referencias of results" [value]="referencias.idResultadoAprendizaje">{{ referencias.descripcion }}</mat-option>
                </mat-select>
             </mat-form-field>
            </div>
          </div>
        </div>


        <div class="form-row">
          <div class="column-half">
            <div class="input-group">
              <div class="input-group-prepend">
                <div class="input-group-text">
                  <i class="tim-icons icon-lock-circle"> </i>
                </div>
              </div>
              <!--mat-form-field class="example-full-width">
                <mat-label>Descripción:</mat-label>
                <textarea [(ngModel)]="courseData.itemesDescripcion" matInput placeholder="Descripción"></textarea>
              </mat-form-field-->
              <mat-form-field appearance="outline">
                <mat-label>Descripción</mat-label>
                <mat-select multiple matNativeControl [(ngModel)]="selectedCar" name= "descr">
                  <mat-option *ngFor="let descr of results" [value]="descr.idResultadoAprendizaje">{{ descr.descripcion }}</mat-option>
                </mat-select>
             </mat-form-field>
            </div>
          </div>

        </div>

        <div class="column-half">

          <div class="input-group">
            <div class="input-group-prepend">
              <div class="input-group-text">
                <i class="tim-icons icon-lock-circle"> </i>
              </div>
            </div>
            <!--mat-form-field class="example-full-width">
              <mat-label>Enfasis:</mat-label>
              <textarea matInput placeholder="Curso propio"></textarea>
            </mat-form-field-->
            <mat-form-field appearance="outline">
              <mat-label>Énfasis</mat-label>
              <mat-select multiple matNativeControl [(ngModel)]="selectedCar" name= "enfasis">
                <mat-option *ngFor="let enfasis of results" [value]="enfasis.idResultadoAprendizaje">{{ enfasis.descripcion }}</mat-option>
              </mat-select>
           </mat-form-field>
          </div>

        </div>




        <div class="form-row">
          <div class="column-half"><button (click)='addCourse()' type="submit" class="button button1" mat-menu-item>Agregar</button>
          </div>
          <div class="column-half"><button (click)='cancel()'class="button button2" mat-menu-item>Cancelar</button>
          </div>


          </div>

        </div>
      </div>
  </mat-tab>
</mat-tab-group>



  </div>

  <!--div class="item3">


    <div id="responsive-form" class="clearfix">

      <div class="form-row">
      <div class="column-half">

        <div class="input-group">
          <div class="input-group-prepend">
            <div class="input-group-text">
              <i class="tim-icons icon-lock-circle"> </i>
            </div>
          </div>
          <mat-form-field class="input-size" appearance="outline">
            <mat-label>Sigla</mat-label>
            <input matInput>
          </mat-form-field>
          <mat-form-field appearance="outline" class="input-size">
            <mat-label>Unidad(es) académica(s)</mat-label>
            <mat-select formControlName="roles" multiple>
              <mat-option value="one">First option</mat-option>
              <mat-option value="two">Second option</mat-option>
              <mat-option value="one">Third option</mat-option>
            </mat-select>
        </mat-form-field>
          <mat-form-field appearance="outline" class="input-size">
            <mat-label>Área disciplinaria</mat-label>
            <mat-select>
              <mat-option value="one">First option</mat-option>
              <mat-option value="two">Second option</mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field appearance="outline" class="input-size">
            <mat-label>Ciclo</mat-label>
            <mat-select>
              <mat-option value="one">First option</mat-option>
              <mat-option value="two">Second option</mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field appearance="outline" class="input-size">
            <mat-label>Créditos</mat-label>
            <mat-select>
              <mat-option value="one">First option</mat-option>
              <mat-option value="two">Second option</mat-option>
            </mat-select>
          </mat-form-field>
        </div>

      </div>

      <div class="column-half">
        
        <div class="input-group">
          <div class="input-group-prepend">
            <div class="input-group-text">
              <i class="tim-icons icon-lock-circle"> </i>
            </div>
          </div>
          <mat-form-field appearance="outline" class="input-size">
            <mat-label>Nombre</mat-label>
            <input matInput>
          </mat-form-field>
        <mat-form-field appearance="outline" class="input-size">
          <mat-label>Horas teoría</mat-label>
          <mat-select>
            <mat-option value="one">First option</mat-option>
            <mat-option value="two">Second option</mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field appearance="outline"  class="input-size">
          <mat-label>Horas práctica</mat-label>
          <mat-select>
            <mat-option value="one">First option</mat-option>
            <mat-option value="two">Second option</mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field appearance="outline"  class="input-size">
          <mat-label>Horas teórico-practicas</mat-label>
          <mat-select>
            <mat-option value="one">First option</mat-option>
            <mat-option value="two">Second option</mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field appearance="outline" class="input-size">
          <mat-label>Horas laboratorio</mat-label>
          <mat-select>
            <mat-option value="one">First option</mat-option>
            <mat-option value="two">Second option</mat-option>
          </mat-select>
        </mat-form-field>
        </div>

      </div>
      </div>

      
      <div class="form-row">
       <div class="column-half"><button class="button button1" [routerLink]="['/requirement']" mat-menu-item >Siguiente</button>
       </div>
       <div class="column-half"><button class="button button2" [routerLink]="['/courses']" mat-menu-item >Regresar</button>
       </div>
      </div>
      
  </div>   
</div-->  

</div>

</body>
<footer>
  <div class="item5"> <img  src="./assets/footerLogo.png">
    <mat-icon>facebook</mat-icon>
      <p>Todos los derechos reservados <br>Universidad de Costa Rica <br>Informática Empresarial</p>

    </div>
</footer>
</html>
