<!DOCTYPE html>
<html>
<head>
<style>
.item1 { grid-area: header; }
.item3 { grid-area: main; }
.item5 { grid-area: footer; }



</style>
</head>
<body>

<div class="grid-container">
  <div class="item1">

    <p>
      <mat-toolbar >
        <mat-toolbar-row>

          
          <img height="130px" src="./assets/logo1.png" >
          <img height="60px" src="./assets/IE.png" >


            <mat-icon  >accessible</mat-icon>
            <mat-icon>language</mat-icon>
            <mat-icon>account_box</mat-icon>
     
        </mat-toolbar-row>
    

      </mat-toolbar>
    </p>

  
<button mat-button [routerLink]="['/general']">General</button>

<button mat-button >Requisitos</button>

  </div>

  <div class="item3">
    <div>
      <form class="form">
        <!--mat-form-field>
          <mat-label>Requisitos</mat-label>
    <mat-checkbox></mat-checkbox>
        </mat-form-field>
       
        <mat-form-field appearance="fill">
          <mat-label>Co-Requisitos</mat-label>
          <mat-select>
            <mat-option value="one">First option</mat-option>
            <mat-option value="two">Second option</mat-option>
          </mat-select>
        </mat-form-field-->
        <mat-form-field appearance="outline" class="example-full-width">
          <mat-label>Requisitos</mat-label>
          <mat-select formControlName="roles" multiple>
            <mat-option value="one">First option</mat-option>
            <mat-option value="two">Second option</mat-option>
            <mat-option value="one">Third option</mat-option>
            <mat-option value="two">Fourth option</mat-option>
            <mat-option value="one">Fifth option</mat-option>
            <mat-option value="two">Sixth option</mat-option>
          </mat-select>
      </mat-form-field>

      <mat-form-field appearance="outline" class="example-full-width">
        <mat-label>Co-Requisitos</mat-label>
        <mat-select formControlName="roles" multiple>
          <mat-option value="one">First option</mat-option>
          <mat-option value="two">Second option</mat-option>
          <mat-option value="one">Third option</mat-option>
          <mat-option value="two">Fourth option</mat-option>
          <mat-option value="one">Fifth option</mat-option>
          <mat-option value="two">Sixth option</mat-option>
        </mat-select>
    </mat-form-field>


        <div class="form-row">
          <div class="column-half"><button class="button button1" [routerLink]="['/contents']" mat-menu-item >Siguiente</button>
          </div>
          <div class="column-half"><button class="button button2" [routerLink]="['/general']" mat-menu-item >Regresar</button>
          </div>
    
          </div>
       
      </form>
    </div>
    </div>  

</div>

</body>

<footer>
  <div class="item5"> <img  src="./assets/footerLogo.png">
    <mat-icon>facebook</mat-icon>
      <p>Todos los derechos reservados <br>Universidad de Costa Rica <br>Informática Empresarial</p>

    </div>
</footer>
</html>
