<!DOCTYPE html>
<html>
<head>
<style>
.item1 { grid-area: header; }
.item3 { grid-area: main; }
.item5 { grid-area: footer; }



</style>
</head>
<body>

<div class="grid-container">
  <div class="item1">

    <p>
      <mat-toolbar >
        <mat-toolbar-row>

          
          <img height="130px" src="./assets/logo1.png" >
          <img height="60px" src="./assets/IE.png" >


            <mat-icon  >accessible</mat-icon>
            <mat-icon>language</mat-icon>
            <mat-icon>account_box</mat-icon>
     
        </mat-toolbar-row>
    

      </mat-toolbar>
    </p>

  
<button mat-button [matMenuTriggerFor]="aboveMenu">Plan de estudios</button>
<mat-menu #aboveMenu="matMenu" yPosition="below">
  <button [routerLink]="['/courses']" mat-menu-item >Cursos</button>
</mat-menu>

<button mat-button [matMenuTriggerFor]="belowMenu">Personal docente</button>
<mat-menu #belowMenu="matMenu" yPosition="below">
  <button mat-menu-item>x</button>
  <button mat-menu-item>x</button>
</mat-menu>

<button mat-button [matMenuTriggerFor]="beforeMenu">Noticias</button>
<mat-menu #beforeMenu="matMenu" yPosition="below">
  <button mat-menu-item>x</button>
  <button mat-menu-item>x</button>
</mat-menu>

  </div>

  <div class="item3"><img  src="./assets/UCR.jpg" ></div>  

  <div class="item5"> <img  src="./assets/footerLogo.png">
    <mat-icon>facebook</mat-icon>
      <p>Todos los derechos reservados <br>Universidad de Costa Rica <br>Informática Empresarial</p>

    </div>

</div>

</body>

</html>

